* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px;
}

/* header and navigation styles */

header {
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/olympus.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 9999;
}

header h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Days One, Charcoal, sans-serif;
    color: black;
    margin: 0%;
}

header a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Styles */

.hero {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/olympus.JPG);
    background-size: cover;
    background-position: 80%;
    align-items: flex-start;
    background-attachment: fixed;
    height: 841px;
}

/* About Me Styles */

.intro {
    background: #80ba86;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 35px;
}

.intro-title {
    width: 15%;
    text-align: center;
    margin: 3.5%;
    font-size: 40px;
    line-height: 1.2;
}

.intro-info {
    width: 65%;
    text-align: center;
    margin: 3.5%;
    padding: 20px;
    line-height: 1.3;
    font-size: 21px;
}

/* My Work Styles */

.work {
    background: #fff;
    font-family: sans-serif;
    color: #80ba86;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 35px;
}

.work-title {
    width: 15%;
    text-align: center;
    margin: 3.5%;
    font-size: 40px;
    line-height: 1.2;
}

.work-gallery {
    width: 65%;
    margin: 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-info {
    margin: 20px;
    background: #80ba86;
    color: #fff;
    font-family: sans-serif;
    flex: 1;
}

.work-info:hover .website-img::after {
    opacity: 1;
}

.run-buddy {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
}

.website-img {
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.website-img::after {
    content:"";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(128, 186, 134));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.website-img h3 {
    font-size: 30px;
    position: relative;
    z-index: 9998;
    margin-bottom: 5px;
    top: 200px;
    transition: 0.6s;
}

.website-img h3 a {
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;

}

.website-img h3 a:hover {
    color: #85d2e6;
}

.website-img h4 {
    font-weight: lighter;
    font-size: 24px;
    position: relative;
    z-index: 9998;
    top: 200px;
    margin-bottom: 15px;
    transition: 0.6s;
    transition-delay: 250ms;
}

.work-info:hover .website-img h3, .work-info:hover .website-img h4 {
    top: 0px;
}

/* Contact Me Styles */

.contact {
    background: #80ba86;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 35px;
}

.contact-title {
    font-size: 30px;
    text-align: center;
    margin: 3.5%;
    line-height: 1.2;
    margin: 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    text-align: center;
    margin: 3.5%;
    padding: 20px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-words {
        width: 100%;
        text-align: center;
    }
}